doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title=name
        meta(name="keywords", content=keywords)
        meta(name="description", content=description)
        meta(content="telephone=no", name="format-detection")
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="css/base.css")
        script(src="js/jquery.1.8.3.min.js")

    body
        h1 你好，world   !  22111s


        script.
            const doc = document.querySelector('#id')
